<%- include('./partials/header') %>


  <div class="bg-white">
    <div class="mx-auto max-w-3xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Notre carte</h2>

      <div class="mt-6 grid grid-cols-2 lg:grid-cols 4 gap-y-14 gap-x-5 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        
        <% menuData.forEach(plat => { %>
        <div class="group relative">
          <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
            <img src="https://assets.afcdn.com/recipe/20210304/118354_w1024h1024c1cx1060cy707.webp" alt="<%= plat.name %>" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="#" class="text-xl font-semibold">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= plat.name %>
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500"><%= plat.description %></p>
            </div>
            <p class="text xl font-semibold text-gray-900"><%= plat.price %>€</p>
          </div>
        </div>

      <% }) %>   
        
      </div>
    </div>
  </div>


<%- include('./partials/footer') %>